.footer ul {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    border-top: solid black 0.25rem;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.footer ul li {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}